
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.leftHeader {
    display: flex;
    gap: 40px;
    align-items: center;
}

.city {
    font-size: 11px;
    color: #686868;
    font-family: "Inter", sans-serif;
    white-space: nowrap;
}

.logo > img {
    width: 70px;
}

.logo {
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.rightHeader {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}

nav > a {
    font-size: 11px;
    color: #686868;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

nav > a:hover {
    text-decoration: underline;
    color: black
}

.getState {
    font-family: "Inter", sans-serif;
    padding: 8px 15px;
    font-size: 11px;
    background: black;
    color: white;
    border-radius: 5px;
    border: 0;
}

.getState:hover {
    cursor: pointer;
}

main {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 160px
}

.forIno {
    font-family: "Inter", sans-serif;
    padding: 8px 15px;
    font-size: 11px;
    background: #00000020;
    color: black;
    border-radius: 5px;
    border: 0;
}

.forIno:hover {
    cursor: pointer;
}

.fastAction {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: inherit;
    justify-content: space-between;
    gap: 40px
}

.headed {
    color: #007E00;
    font-size: 48px;
}

#menu {
    background: unset;
    border: 0;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.parameters {
    color: #686868;
}

.action {
    display: flex;
    gap: 20px
}

.fastAction > img {
    width: 40%;
}

#menu {
    display: none;
}

.infoState {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    padding: 40px;
    background: #CCE5CC;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}

.card > p {
    color: #686868
}

.card > .getState {
    padding: 16px 0;
    font-size: 16px;
}

.card > .notWork {
    padding: 16px 0;
    border: 2px dashed #007E00;
    border-radius: 5px;
    background: #CCE5CC;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #007E00;
}

.instruction {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
    padding: 40px;
    line-height: 24px;
    text-align: left;
}

ul {
    list-style: circle;
    color: #686868;
}

ol li {
    padding: 5px 0;
}

.menuCont {
    display: none;
}

ul li {
    padding: 5px 0;
    color: #686868;
}

.infoPay {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoPay > button {
    padding: 15px 0;
}

.infoPay > span > ol {
    padding: 0 40px;
}

.infoPay > span {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.guarantees {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.guarantees > span > ol {
    padding: 0 40px;
}

.guarantees > span {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#menuCont {
    display: none;
}

#sendInfo:hover {
    cursor: pointer;
}

#modalState {
    font-family: "Inter", sans-serif;
    display: none;
    flex-direction: column;
    gap: 40px;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    left: 0;
    right: 0;
    background: #ffffff;
    position: fixed;
    padding: 40px;
    z-index: 1001;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.getResult {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sendInfo {
    width: 100%;
    padding: 10px 0;
    background: black;
    border-radius: 5px;
    border: 0;
    color: white;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title > h3 {
    font-weight: 500;
    font-size: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    color: #007E00;
    padding: 5px;
    border: 1px solid #007E00;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border-radius: 5px;
    outline: 0;
    width: 100%;
}

.getResult > p {
    color: #686868
}

.getResult > p > a {
    text-decoration: underline;
    color: #007E00;
}

#closeState {
    background: unset;
    border: 0;
    color: #007E00;
    font-weight: 500;
    text-decoration: underline;
}

footer {
    background: black;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    padding: 40px;
}

footer > nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer > nav > a:hover {
    color: white;
    text-decoration: underline;
}

footer > .logo {
    color: white;
}

@media (max-width: 924px) {
    body {
        max-width: calc(924px - 40px);
    }
    nav {
        display: none;
    }

    #closeMenu {
        background: unset;
        border: 0;
        color: #007E00;
        font-weight: 500;
        padding: 5px 0;
        text-decoration: underline;
    }

    #closeMenu:hover {
        cursor: pointer;
    }

    #menuCont {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        background: #ffffff20;
        backdrop-filter: blur(40px);
        right: 0;
        left: 0;
        bottom: 0;
        gap: 20px;
        z-index: 1000;
        padding: 40px;
    }

    #menuCont > nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #menuCont > a {
        color: #007E00;
        font-family: "Inter", sans-serif;
    }

    #menuCont > .getState {
        display: unset;
    }

    header .getState {
        display: none;
    }

    #menu {
        display: unset;
    }
    .emblem {
        display: none;
    }
    .fastAction {
        justify-content: center;
    }
}

@media (max-width: 425px) {
    body {
        max-width: 425px;
    }
    .city {
        display: none;
    }
    .emblem {
        display: none;
    }
    .fastAction {
        justify-content: center;
    }
    footer > nav {
        display: none;
    }

}